%CFG = (

	#
	# GENERAL
	#

	'nzbage'      => 10,
	'nzbdir'      => 'nzbdata',
	'speed'       => 1000, # kb/s
	'wrapper'     => 'nzb_wrapper.sh',
	'wrapper_cfg' => 'nzbget.conf',

	# list of posters, we don't want nzbs from
	'blacklist' =>
		[
		],

	#
	# NOTIFICATIONS
	#

	# use the id for series and 'movies'
	'notify' =>
		{
			'24'     => [ 'Foo <foo@example.net>', 'Bar <bar@example.net>' ],
			'movies' => [ 'foobar@example.net' ],
		},
	'sender' => 'Foo Bar <foobar@example.net>',

	#
	# SERIES
	#

	# id        = id for http://epguides.com/ (see http://epguides.com/common/allshows.txt column 3)
	# name      = series name (will be used to search for on http://binsearch.info/)
	# group     = newsgroup to search for posts
	# min       = minimal size of nzb collection (MB)
	# threshold = size of nzb collection (MB), that determines if the series is in HD quality
	# max       = maximal size of nzb collection (MB)
	'series' =>
		[
#			{ id => '8511', query => 'Big Bang Theory', group => 'alt.binaries.multimedia', min => 350, threshold => 800, max => 2000 },
		]
	
	'series_search_enabled' => 1,
	'series_search_weeks'   => 4,

	#
	# MOVIES
	#

	# genre   = imdb genre (lowercase) [full list at http://www.imdb.com/genre/]
	# minimum = minimum rating for this genre
	'movies_genre_ratings' =>
		{
#			'thriller' => 5,
		},

	'movies_group'          => 'alt.binaries.boneless',
	'movies_max_size'       => 5000,
	'movies_min_size'       => 1000,
	'movies_rating'         => 6,
	'movies_search_enabled' => 1,
	'movies_search_weeks'   => 4,
);
