%CFG = (

	#
	# GENERAL
	#

	'debug'   => 0,
	'nzbage'  => 10,
	'nzbdir'  => 'nzbdata',
	'speed'   => 1000, # kb/s
	'wrapper' => 'nzb_wrapper.sh',

	# list of posters, we don't want nzbs from
	'blacklist' =>
		[
		],

	#
	# SERIES
	#

	# id        = folder name on http://epguides.com/
	# query     = series names to search for on http://binsearch.info/ (separate words by '+')
	# group     = newsgroup to search for posts
	# min       = minimal size of nzb collection (MB)
	# threshold = size of nzb collection (MB), that determines if the series is in HD quality
	# max       = maximal size of nzb collection (MB)
	'series' =>
		[
#			{ id => '24', query => '24', group => 'alt.binaries.multimedia', min => 350, threshold => 800, max => 2000 },
		]
	
	'series_search_enabled' => 1,
	'series_search_weeks'   => 4,

	#
	# MOVIES
	#

	# genre   = imdb genre (lowercase) [full list at http://www.imdb.com/genre/]
	# minimum = minimum rating for this genre
	'movie_genre_ratings' =>
		{
#			'thriller' => 5,
		},

	'movie_group'          => 'alt.binaries.boneless',
	'movie_max_size'       => 5000,
	'movie_min_size'       => 1000,
	'movie_rating'         => 6,
	'movie_release_weeks'  => 24,
	'movie_search_enabled' => 1,
	'movie_search_weeks'   => 4,
);
